[submodule "lib/ecss-services"]
	path = lib/ecss-services
	url = https://gitlab.com/acubesat/obc/ecss-services.git
[submodule "lib/atsam-component-drivers"]
	path = lib/atsam-component-drivers
	url = https://gitlab.com/acubesat/obc/atsam-component-drivers.git
[submodule "cobs-c"]
	path = lib/cobs-c
	url = https://github.com/cmcqueen/cobs-c.git